*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #141414;
}

#sports {
   background-color: rgb(117, 224, 117);
}

#sports .articles article a {
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    background-color: #006400;
    color: #ffeaf5;
    text-decoration: none;
}

#sports .articles article a:hover{
    color: #001800;
}

#economy {
    background-color: rgb(255,255,118);
}
#economy .articles article a {
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    background-color:#ff8000;
    color: #ffeaf5;
    text-decoration: none;
}

#economy .articles article a:hover{
    color:#b35a00;
}

#politic {
    background-color: rgb(77,165,255);
}

#politic .articles article a {
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    background-color: #007fff;
    color: #ffeaf5;
    text-decoration: none;
}

#politic .articles article a:hover {
    color:#0059b3;
}

#entertainment {
    background-color: rgb(255,77,77);
}

#entertainment .articles article a {
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    background-color: #ff0100;
    color: #ffeaf5;
    text-decoration: none;
}

#entertainment .articles article a:hover {
    color: #b30100;
}



li {
    display: inline;
    padding-left: 10px;
}

li a {
    color: #ffeaf5;
    text-decoration:dotted;
}



h2{
    text-align: center;
    font-size: 46px;
}

h3 {
    margin: 10px 0 10px 0;
}




body > header {
    padding: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #2f4f4f;
}

header h1 {
    color: #ffeaf5;
}

.container {
    width: 1336px;
    padding: 20px 20px 20px 20px;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.articles article img {
    height: 180px;
}

.articles article p {
    text-align: justify;
}

.articles article {
    width: 30%;
}