*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

header{
    background-color: rgb(62, 82, 190);
    padding: 26px 0;
    text-align: center;
}

header h1{
    color: aliceblue;
    font-size: 42px;
}

form {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 135, 226);
    border-bottom: 2px solid #000 ;
}

form input{
    height: 30px;
    width: 400px;
    border-radius: 5px;
}

form button {
    background-color: rgb(11, 11, 119);
    color: aliceblue;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}

ul{
    width: 600px;
    margin: 16px;
    margin-left: 350px;
    list-style: none;
    text-align: center;
    background-color: rgb(190, 190, 228);
}

li{
    border: 1px #000 solid;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 6px 0;
    cursor:pointer
}

li.line-through{
    text-decoration: line-through;
}

.required{
    border: 1px solid red;
} 



